*{
    margin: 0;
    padding: 0%;
    height: 100fv;
    width: 100%;
}
html, body {
    height: 100%;
    width: auto;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 60%;
}
.Profile_Photo{
    grid-column: 1/2;
    grid-row: 1/2;
}
.Profile_Photo img{
    width: 235px;
}
.intro {
    background-color:#787878;
    grid-row: 2/3;
    grid-column: 1/2;
}